body{
  background:#0f0f0f;
  color:white;
}
.box{
  background:#282828;
  border-radius: 12px;
  border: 1px #333 solid;
  padding:10px;
}
input{
  background:none;
  color:white;
  padding:5px;
  border-radius: 5px;
  margin:2px;
  border:none;
  border-radius: 0px;
  border-bottom:1px #666 solid;
  outline:none;
  transition:all 0.3s ease;
  cursor:text;
}
input:focus-visible{
  border-bottom:1px #fff solid;
}
input[type=number]{
  width:75px;
}
button{
  background:none;
  border:none;
  border-radius:20px;
  padding:10px;
  color:white;
  transition:all 0.3s ease;
}
button:hover{
  background:#155;
}
.add{
  color:#3ea6ff;
  border-radius: 18px;
  margin:5px;
}
.add:hover{
  background:#263850;
}